<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#0E0E0E" />
    <meta name="template-color" content="#0E0E0E" />
    <meta name="description" content="Index page" />
    <meta name="keywords" content="index, page" />
    <meta name="author" content="" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="imgs/template/favicon.svg"
    />
    <link href="css/style28b5.css?v=2.0.0" rel="stylesheet" />
    <title>
      Ocean Network Express -The best company for Cargo and Transport Courier
      Logistics
    </title>
  </head>
  <body>
    <%- include('partials/subheader.ejs') %> <%- include('partials/header.ejs')
    %> <%- body %> <%- include('partials/footer.ejs') %>

    <script src="js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="js/vendors/jquery-3.6.0.min.js"></script>
    <script src="js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/vendors/bootstrap.bundle.min.js"></script>
    <script src="js/vendors/waypoints.js"></script>
    <script src="js/vendors/wow.js"></script>
    <script src="js/vendors/magnific-popup.js"></script>
    <script src="js/vendors/perfect-scrollbar.min.js"></script>
    <script src="js/vendors/select2.min.js"></script>
    <script src="js/vendors/isotope.js"></script>
    <script src="js/vendors/scrollup.js"></script>
    <script src="js/vendors/swiper-bundle.min.js"></script>
    <script src="js/vendors/noUISlider.js"></script>
    <script src="js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="js/vendors/counterup.js"></script>
    <script src="js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down-->
    <script src="js/vendors/jquery.elevatezoom.js"></script>
    <script src="js/vendors/slick.js"></script>
    <script src="js/main28b5.js?v=2.0.0"></script>
  </body>
</html>
