<div class="form-content">
  <h1 class="main-header">New Order</h1>
  <form action="/admin/new-order" method="POST" class="form-container">
    <div class="form-item">
      <input type="text" placeholder="Sender Name" name="senderName" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Sender Address" name="senderAddress" />
    </div>
    <div class="form-item">
      <input type="email" placeholder="Sender Email" name="senderEmail" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Recievers Name" name="recieverName" />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Reciever Address"
        name="recieverAddress"
      />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Reciever Email" name="recieverEmail" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Reciever Phone" name="recieverPhone" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Status" name="status" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Shipment Origin" name="shipmentOrigin" />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment Package"
        name="shipmentPackage"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment Destination"
        name="shipmentDestination"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment Carrier"
        name="shipmentCarrier"
      />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Shipment Type" name="shipmentType" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Shipment Weight" name="shipmentWeight" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Shipment Mode" name="shipmentMode" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Shipment RefNo" name="shipmentRefNo" />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment Product"
        name="shipmentProduct"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment Quantity"
        name="shipmentQuantity"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment PaymentMode"
        name="shipmentPaymentMode"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment DeliveryDate"
        name="shipmentDeliveryDate"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment DapatureTime"
        name="shipmentDapatureTime"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment PickupDate"
        name="shipmentPickupDate"
      />
    </div>
    <div class="form-item">
      <input
        type="text"
        placeholder="Shipment PickupTime"
        name="shipmentPickupTime"
      />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Comments" name="comments" />
    </div>
    <div class="form-item">
      <input type="text" placeholder="Map Code" name="map" />
    </div>
    <div class="form-item">
      <input type="submit" value="Create Order" class="submit-btn" />
    </div>
  </form>
</div>
