<div class="order-content">
  <div class="orders">
    <% if(orders) { %>
        
    <div class="order-item">
        <h3>Tracking Number: OCN-563535</h3>
    <h3>Sender Name: Jenny</h3>
    <a href="/admin/addhistory">Add History</a>
    <a href="/admin/editorder">Edit Order</a>
    </div>
    <div class="order-item">
        <h3>Tracking Number: OCN-563535</h3>
    <h3>Sender Name: Jenny</h3>
    <a href="/admin/addhistory">Add History</a>
    <a href="/admin/editorder">Edit Order</a>
    </div>
    <div class="order-item">
        <h3>Tracking Number: OCN-563535</h3>
    <h3>Sender Name: Jenny</h3>
    <a href="/admin/addhistory">Add History</a>
    <a href="/admin/editorder">Edit Order</a>
    </div>
    <div class="order-item">
        <h3>Tracking Number: OCN-563535</h3>
    <h3>Sender Name: Jenny</h3>
    <a href="/admin/addhistory">Add History</a>
    <a href="/admin/editorder">Edit Order</a>
    </div>
    <% } %>
  </div>
</div>
