
  <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-content-area">
        <div class="burger-icon"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span
            class="burger-icon-bottom"></span></div>
        <div class="perfect-scroll">
          <div class="mobile-menu-wrap mobile-header-border">
            <nav class="mt-15">
              <ul class="mobile-menu font-heading">
                <li><a class="active" href="/">Home</a>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a>
                </li>
                <li><a href="/track">Track</a>
                </li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="site-copyright color-grey-400">
            <div class="mb-0"><span class="font-xs color-grey-500">Ocean Network Express 2023. All right
                reversed.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="main">
    <section class="section d-block">
      <div class="container position-relative">
        <div class="banner-trackyourparcel"></div>
        <div class="box-info-trackyourparcel">
          <h2 class="color-brand-2 mb-25 wow animate__animated animate__fadeIn">Package tracking is easy<br
              class="d-none d-lg-block">with order number</h2>
          <p class="color-grey-900 font-md wow animate__animated animate__fadeIn">Track packages from China, US Post,
            Canada Post, Royal Mail, Deutsche Post,<br class="d-none d-lg-block">Aliexpress, UPS, Shein, FedEx, Pitney
            Bowes, eBay, Amazon</p>
          <div class="form-trackparcel wow animate__animated animate__fadeIn">
            <form action="/tracking/info" method="POST">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Your package tracking number" name="trackingNo">
                <input class="btn btn-brand-1 btn-track" type="submit" value="Track Package">
              </div>
            </form>
          </div>
          <!-- <div class="mt-40 d-flex justify-content-center"><a
              class="hover-up mr-10 wow animate__animated animate__fadeIn" href="#"><img
                src="imgs/template/appstore-btn.png" alt="transp"></a><a
              class="hover-up wow animate__animated animate__fadeIn" href="#"><img
                src="imgs/template/google-play-btn.png" alt="transp"></a></div> -->
        </div>
      </div>
    </section>
    <section class="section pt-85">
      <div class="container">
        <div class="row mt-50 align-items-center">
          <div class="col-lg-6 mb-30">
            <h6 class="color-brand-2 mb-15 wow animate__animated animate__fadeIn">International tracking for</h6>
            <h2 class="color-brand-2 mb-25 wow animate__animated animate__fadeIn">Any post office tracking</h2>
            <div class="row">
              <div class="col-lg-9">
                <p class="font-md color-grey-900 wow animate__animated animate__fadeIn">Our tracking system is updated
                  in real-time, so you can rest assured that you are getting the most up-to-date information on your
                  parcel's progress. We also offer notifications via email or SMS, so you can receive updates on your
                  parcel's status right to your phone.</p>
              </div>
            </div>
            <!-- <div class="row mt-50">
              <div class="col-lg-6 mb-30">
                <h6 class="chart-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Boost your
                  sale</h6>
                <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                  hand-crafted templates.</p>
              </div>
              <div class="col-lg-6 mb-30">
                <h6 class="chart-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Boost your
                  sale</h6>
                <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                  hand-crafted templates.</p>
              </div>
              <div class="col-lg-6 mb-30">
                <h6 class="feature2-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Introducing
                  New Features</h6>
                <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                  hand-crafted templates.</p>
              </div>
              <div class="col-lg-6 mb-30">
                <h6 class="feature3-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Introducing
                  New Features</h6>
                <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                  hand-crafted templates.</p>
              </div>
            </div> -->
          </div>
          <div class="col-lg-6 mb-30">
            <div class="box-image-how"><img class="w-100 wow animate__animated animate__fadeIn"
                src="imgs/page/trackyourparcel/img-info-7.png" alt="transp">
              <div class="box-info-bottom-img">
                <div class="image-play wow animate__animated animate__fadeIn"><img class="mb-15"
                    src="imgs/template/icons/play.svg" alt="transp"></div>
                <div class="info-play wow animate__animated animate__fadeIn">
                  <h4 class="color-white mb-15">We have 25 years experience in this passion</h4>
                  <p class="font-sm color-white">A world-leading container fleet, a
                    service network with disruption-free global coverage. Above all, we assure
                    constant communication with you from the moment you drop off your parcel or
                    cargo, to the point of
                    delivery. That’s the Cargo West Pacific-Expressway!r</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mt-90"></div>
    <div class="section bg-2 pt-65 pb-35">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 mb-30 text-center text-lg-start wow animate__animated animate__fadeIn">
            <p class="font-2xl-bold color-brand-2">We are<span class="color-brand-1"> trusted</span> by major global
              brands</p>
          </div>
          <div class="col-lg-9 mb-30">
            <div class="box-swiper">
              <div class="swiper-container swiper-group-6 pb-0">
                <div class="swiper-wrapper wow animate__animated animate__fadeIn">
                  <div class="swiper-slide"><img src="imgs/slider/logo/alea.png" alt="transp"></div>
                  <div class="swiper-slide"><img src="imgs/slider/logo/land.png" alt="transp"></div>
                  <div class="swiper-slide"><img src="imgs/slider/logo/logis.png" alt="transp"></div>
                  <div class="swiper-slide"><img src="imgs/slider/logo/truck.png" alt="transp"></div>
                  <div class="swiper-slide"><img src="imgs/slider/logo/saltos.png" alt="transp"></div>
                  <div class="swiper-slide"><img src="imgs/slider/logo/creati.png" alt="transp"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section pt-100">
      <div class="container">
        <div class="text-center"><span class="btn btn-tag color-grey-900 wow animate__animated animate__fadeIn">Our
            Features</span>
          <h2 class="color-brand-2 mb-15 mt-20 wow animate__animated animate__fadeIn">Why choose us</h2>
        </div>
        <div class="row mt-60">
          <div class="col-xl-3 col-lg-3 col-md-6 wow animate__animated animate__fadeIn">
            <div class="item-reason">
              <div class="card-offer cardServiceStyle3 hover-up">
                <div class="card-image"><img src="imgs/page/homepage4/container.png" alt="transp"></div>
                <div class="card-info">
                  <h5 class="color-brand-2 mb-15">Over 1200 couriers</h5>
                  <!-- <p class="font-sm color-grey-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                    commodo consectetur.</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 wow animate__animated animate__fadeIn">
            <div class="item-reason">
              <div class="card-offer cardServiceStyle3 hover-up">
                <div class="card-image"><img src="imgs/page/homepage4/24-hours.png" alt="transp"></div>
                <div class="card-info">
                  <h5 class="color-brand-2 mb-15">Automatic courier</h5>
                  <!-- <p class="font-sm color-grey-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                    commodo consectetur.</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 wow animate__animated animate__fadeIn">
            <div class="item-reason">
              <div class="card-offer cardServiceStyle3 hover-up">
                <div class="card-image"><img src="imgs/page/homepage4/stopwatch.png" alt="transp"></div>
                <div class="card-info">
                  <h5 class="color-brand-2 mb-15">Real-time alert</h5>
                  <!-- <p class="font-sm color-grey-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                    commodo consectetur.</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 wow animate__animated animate__fadeIn">
            <div class="item-reason">
              <div class="card-offer cardServiceStyle3 hover-up">
                <div class="card-image"><img src="imgs/page/homepage4/pallet.png" alt="transp"></div>
                <div class="card-info">
                  <h5 class="color-brand-2 mb-15">Email alerts</h5>
                  <!-- <p class="font-sm color-grey-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                    commodo consectetur.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mt-50"></div>
    <section class="section pt-80 mb-70 bg-faqs">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="box-faqs-left">
              <h2 class="title-favicon mb-20 wow animate__animated animate__fadeIn">FAQs</h2>
              <p class="font-md color-grey-700 mb-50 wow animate__animated animate__fadeIn">Feeling inquisitive? Have a
                read through some of our FAQs or contact our supporters for help</p>
              <div class="box-gallery-faqs">
                <div class="image-top"><img src="imgs/page/trackyourparcel/img-faqs1.png" alt="transp"></div>
                <div class="image-bottom">
                  <div class="image-faq-1"><img src="imgs/page/trackyourparcel/img-faqs2.png" alt="transp"></div>
                  <div class="image-faq-2"><img src="imgs/page/trackyourparcel/img-faqs3.png" alt="transp"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-accordion">
              <div class="accordion" id="accordionFAQ">
                <div class="accordion-item wow animate__animated animate__fadeIn">
                  <h5 class="accordion-header" id="headingTwo">
                    <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Short Company
                      Overview?</button>
                  </h5>
                  <div class="accordion-collapse collapse show" id="collapseTwo" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">After integration, Ocean Network Express expanded its business scale and
                      consolidated its position in the industry.
                      Meanwhile, the service network has also been further improved. It established branches, and over
                      400 marketing offices
                      have covered the whole global shipping market.
                    </div>
                  </div>
                </div>
                <div class="accordion-item wow animate__animated animate__fadeIn">
                  <h5 class="accordion-header" id="headingThree">
                    <button class="accordion-button text-heading-5 collapsed text-heading-5 type="
                      data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                      aria-controls="collapseThree">Transportation
                      Mission & Vision?</button>
                  </h5>
                  <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                    data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">By the end of December 2020, the Company owned and operated 423
                      container vessels with a total capacity of 2.3 million
                      TEUs (Cargo West Pacific-owned and operated 536 container vessels with a total capacity of 3.1
                      million TEUs, ranking the
                      3rd place in the world in terms of shipping capacity)..</div>
                  </div>
                </div>
                <div class="accordion-item wow animate__animated animate__fadeIn">
                  <h5 class="accordion-header" id="headingFour">
                    <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Awards and
                      Certifications?</button>
                  </h5>
                  <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour"
                    data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">Ocean Network Express operates 399 international and domestic shipping
                      routes, consisting of 265 international services
                      (including international feeder services), 54 domestic services, 80 Yangtze River and Pearl River
                      shipping services,
                      having anchors in 352 ports covering 105 countries and regions worldwide..</div>
                  </div>
                </div>
                <!-- <div class="accordion-item wow animate__animated animate__fadeIn">
                      <h5 class="accordion-header" id="headingFive">
                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What are the
                          delivery types you use?</button>
                      </h5>
                      <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive"
                        data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">Et beatae quae ex minima porro aut nihil quia sed optio dignissimos et
                          voluptates deleniti et nesciunt veritatis et suscipit quod. Est sint voluptate id unde nesciunt
                          non deleniti debitis. Ut dolores tempore vel placeat nemo quo enim reprehenderit eos corrupti
                          maiores et minima quaerat. Quo sequi eaque eum similique sint et autem perspiciatis cum Quis
                          exercitationem quo quos excepturi non ducimus ducimus eos natus velit.</div>
                      </div>
                    </div>
                    <div class="accordion-item wow animate__animated animate__fadeIn">
                      <h5 class="accordion-header" id="headingSix">
                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">How can I pay for
                          my purchases?</button>
                      </h5>
                      <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix"
                        data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">Qui quas itaque ut molestias culpa vel culpa voluptas eos fugit sint ex
                          veritatis totam cum unde maxime! Qui eius fugiat qui veritatis cumque a nesciunt nemo. Id numquam
                          rerum est molestiae quia ut nisi architecto a officiis itaque eum quod repellat ut dolorem dolorem
                          aut ipsam ipsa.</div>
                      </div>
                    </div> -->
              </div>
              <div class="line-border mt-50 mb-50"></div>
              <h3 class="color-brand-2 wow animate__animated animate__fadeIn">Nead more help?</h3>
              <div class="mt-20"><a class="btn btn-brand-1-big mr-20 wow animate__animated animate__fadeIn"
                  href="contact.html">Contact Us</a><a class="btn btn-link-medium wow animate__animated animate__fadeIn"
                  href="#">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                    </path>
                  </svg></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mt-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-50">
            <div class="box-info-6 box-info-8"><span class="btn btn-tag wow animate__animated animate__fadeIn">Who We
                Are?</span>
              <h2 class="color-grey-900 mb-20 mt-15 wow animate__animated animate__fadeIn">We are the world's leading
                shipping service provider</h2>
              <p class="font-md color-grey-900 mb-35 wow animate__animated animate__fadeIn">Over the years, we have
                worked together to expand our network of partners to deliver reliability and consistency. We’ve also
                made significant strides to tightly integrate technology with our processes, giving our clients greater
                visibility into every engagement.</p>
              <!-- <div class="row">
                <div class="col-lg-6 mb-30">
                  <h6 class="chart-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Boost your
                    sale</h6>
                  <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                    hand-crafted templates.</p>
                </div>
                <div class="col-lg-6 mb-30">
                  <h6 class="chart-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">Boost your
                    sale</h6>
                  <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                    hand-crafted templates.</p>
                </div>
                <div class="col-lg-6 mb-30">
                  <h6 class="feature2-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">
                    Introducing New Features</h6>
                  <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                    hand-crafted templates.</p>
                </div>
                <div class="col-lg-6 mb-30">
                  <h6 class="feature3-title font-md-bold color-grey-900 wow animate__animated animate__fadeIn">
                    Introducing New Features</h6>
                  <p class="font-xs color-grey-900 wow animate__animated animate__fadeIn">The latest design trends meet
                    hand-crafted templates.</p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 mb-50">
            <div class="box-image-why box-image-why-info-8"><img class="wow animate__animated animate__fadeIn"
                src="imgs/page/homepage3/img-info-6.png" alt="transp">
              <div class="box-button-play"><a
                  class="btn btn-play popup-youtube hover-up wow animate__animated animate__fadeIn"
                  href="https://www.youtube.com/watch?v=kCGf5uNE13I"><img class="wow animate__animated animate__fadeIn"
                    src="imgs/template/icons/play.svg" alt="transp"><span
                    class="color-white wow animate__animated animate__fadeIn">How it work ?<br>Watch video
                    tour</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mt-90"></div>
    <div class="section bg-map d-block">
      <div class="container">
        <div class="box-newsletter">
          <h3 class="color-brand-2 mb-20 wow animate__animated animate__fadeIn">Get in Touch</h3>
          <div class="row">
            <div class="col-lg-5 mb-30">
              <div class="form-newsletter wow animate__animated animate__fadeIn">
                <form action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your name *">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your email *">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Weight">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Height">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Message / Note" rows="5"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <input class="btn btn-brand-1-big" type="submit" value="Submit Now">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-7 mb-30">
              <div class="d-flex box-newsletter-right">
                <div class="box-map-2 wow animate__animated animate__fadeIn">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2287643280383!2d-73.45762132469115!3d40.712980237556735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e9d5518b98a21f%3A0xdd23ac9d0397e0a0!2sWest%20Dr%2C%20South%20Farmingdale%2C%20NY%2C%20USA!5e0!3m2!1sen!2sng!4v1683761733295!5m2!1sen!2sng"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <ul class="list-info-footer">
                  <li class="wow animate__animated animate__fadeIn">
                    <div class="cardImage"><span class="icon-brand-1"><img src="imgs/page/homepage2/address.svg"
                          alt="transp"></span></div>
                    <div class="cardInfo">
                      <h6 class="font-sm-bold color-grey-900">Address</h6>
                      <p class="font-sm color-grey-900">Cargo West Pacific New York, USA / UNITED KINGDOM / TURKEY</p>
                    </div>
                  </li>
                  <li class="wow animate__animated animate__fadeIn">
                    <div class="cardImage"><span class="icon-brand-1"><img src="imgs/page/homepage2/email.svg"
                          alt="transp"></span></div>
                    <div class="cardInfo">
                      <h6 class="font-sm-bold color-grey-900">Email</h6>
                      <p class="font-sm color-grey-900">contact@oceannetworkexpress.com oceannetworkexpress@support</p>
                    </div>
                  </li>
                  <li class="wow animate__animated animate__fadeIn">
                    <div class="cardImage"><span class="icon-brand-1"><img src="imgs/page/homepage2/phone.svg"
                          alt="transp"></span></div>
                    <div class="cardInfo">
                      <h6 class="font-sm-bold color-grey-900">Telephone</h6>
                      <p class="font-sm color-grey-900"> +19177192431</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>